body {
  background-color: white;
  background-image: url("../images/stripe.png");
  background-repeat: repeat-x;
  color: black;
  font-family: Georgia;
  font-size: 14px; }

a {
  text-decoration: underline;
  color: #006666; }

h1, h2, h3 {
  font-weight: bold; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.3em;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.5em; }

#header {
  text-align: center;
  padding: 2.5em 0; }

#content {
  padding: 1em 0;
  border-top: 1px;
  border-bottom: 1px;
  border-color: #ddddff;
  border-style: solid; }

#footer {
  text-align: right;
  margin-top: 2em;
  margin-bottom: 2em; }

#header h1 span.small {
  font-size: 0.5em;
  display: block; }
#header .networks {
  margin-top: 0.5em; }
  #header .networks a {
    display: inline-block;
    margin-right: 1em; }

#content {
  padding-bottom: 2em; }
  #content p {
    padding-bottom: 1em;
    line-height: 150%; }
  #content hr {
    height: 1px;
    background-color: #ddddff;
    border: 0;
    width: 40em;
    margin: 1em auto; }
  #content h2.sep {
    margin-top: 1em; }
